# Virtual environment
venv/
ENV/

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Local environment files
.env
.flaskenv

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
